n8n_template/Slack_RAG_bot_v2.json
{
    "name": "Slack RAG Agent(AI Router + Thinking Ack)",
    "nodes": [
        {
            "parameters": {
                "trigger": [
                    "any_event",
                    "app_mention"
                ],
                "channelId": {
                    "__rl": true,
                    "value": "",
                    "mode": "list",
                    "cachedResultName": ""
                },
                "options": {
                    "userIds": "==[\"User_ID\"]"
                }
            },
            "id": "44bc7fc6-9736-48e9-90dc-3098047abdc7",
            "name": "Slack Trigger",
            "type": "n8n-nodes-base.slackTrigger",
            "position": [
                880,
                240
            ],
            "typeVersion": 1,
            "webhookId": "",
            "credentials": {
                "slackApi": {
                    "id": "",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4o-mini",
                "prompt": {
                    "messages": [
                        {
                            "role": "system",
                            "content": "Classify the user message as either 'greeting' or 'question'.\n- greeting: casual small talk, hello, how are you, thanks, bye, compliments, etc.\n- question: asking for information, help, or technical assistance about any topic\n\nReply with ONLY one word: greeting or question"
                        },
                        {
                            "content": "={{ $json.text }}"
                        }
                    ]
                },
                "options": {},
                "requestOptions": {}
            },
            "id": "class1fy-0000-0000-0000-000000000001",
            "name": "AI Classifier",
            "type": "n8n-nodes-base.openAi",
            "position": [
                1080,
                240
            ],
            "typeVersion": 1,
            "credentials": {
                "openAiApi": {
                    "id": "",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "mode": "rules",
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": false,
                                    "leftValue": "",
                                    "typeValidation": "strict"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.message.content.toLowerCase().trim() }}",
                                        "rightValue": "greeting",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Greeting"
                        }
                    ]
                },
                "options": {
                    "ignoreCase": true,
                    "fallbackOutput": "extra",
                    "renameFallbackOutput": "Question"
                }
            },
            "id": "sw1tch01-0000-0000-0000-000000000001",
            "name": "Greeting or Question?",
            "type": "n8n-nodes-base.switch",
            "position": [
                1300,
                240
            ],
            "typeVersion": 3.4
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4o-mini",
                "prompt": {
                    "messages": [
                        {
                            "role": "system",
                            "content": "You are a friendly n8n RAG assistant. When users greet you or make casual conversation, respond warmly and naturally. Keep it brief. Mention you can help with n8n questions if relevant."
                        },
                        {
                            "content": "={{ $('Slack Trigger').item.json.text }}"
                        }
                    ]
                },
                "options": {},
                "requestOptions": {}
            },
            "id": "op3nai-gr-0000-0000-000000000003",
            "name": "OpenAI Greeting",
            "type": "n8n-nodes-base.openAi",
            "position": [
                1500,
                440
            ],
            "typeVersion": 1,
            "credentials": {
                "openAiApi": {
                    "id": "",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "={{ $('Slack Trigger').item.json.channel }}"
                },
                "text": "={{ $json.message.content }}",
                "otherOptions": {
                    "includeLinkToWorkflow": false,
                    "sendAsUser": "Jacob",
                    "threadTs": "={{ $('Slack Trigger').item.json.ts }}"
                }
            },
            "id": "sl-gr-reply-0000-000000000004",
            "name": "Send Greeting Reply",
            "type": "n8n-nodes-base.slack",
            "position": [
                1720,
                440
            ],
            "typeVersion": 2.3,
            "credentials": {
                "slackApi": {
                    "id": "",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "={{ $('Slack Trigger').item.json.channel }}"
                },
                "text": "=⏳ Got your question! I'm searching through the knowledge base... Please wait a moment 🔍",
                "otherOptions": {
                    "includeLinkToWorkflow": false,
                    "sendAsUser": "Jacob",
                    "threadTs": "={{ $('Slack Trigger').item.json.ts }}"
                }
            },
            "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
            "name": "Send Thinking Message",
            "type": "n8n-nodes-base.slack",
            "position": [
                1500,
                80
            ],
            "typeVersion": 2.3,
            "credentials": {
                "slackApi": {
                    "id": "",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4.1-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-4.1-mini"
                },
                "options": {}
            },
            "id": "aabbb277-80f5-4316-8845-f34bce33261b",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "position": [
                1620,
                300
            ],
            "typeVersion": 1.2,
            "credentials": {
                "openAiApi": {
                    "id": "",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Slack Trigger').item.json.channel }}"
            },
            "id": "14cb0538-fe7e-4739-9de9-129723400e44",
            "name": "Simple Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "position": [
                1800,
                300
            ],
            "typeVersion": 1.3
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Slack Trigger').item.json.text }}",
                "options": {
                    "systemMessage": "You are a n8n-assistant Agent. Your job is to respond to user\nqueries with accurate responses - do not hallucinate, if you don't know\nthe answer definitively, say so.\n\n#Tool\nUse the Google Doc tool attached to refer to n8n question"
                }
            },
            "id": "d4e0c080-fdcc-45b9-89ac-da6ff9d1de4e",
            "name": "GPT 5 Slack Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "position": [
                1720,
                80
            ],
            "typeVersion": 2
        },
        {
            "parameters": {
                "operation": "get",
                "documentURL": "",
                "simple": false
            },
            "type": "n8n-nodes-base.googleDocsTool",
            "typeVersion": 2,
            "position": [
                1940,
                316
            ],
            "id": "f040a8cb-07a7-4f83-9ce1-1cc6c968b65a",
            "name": "Get a document in Google Docs",
            "credentials": {
                "googleDocsOAuth2Api": {
                    "id": "",
                    "name": "Google Docs account"
                }
            }
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "={{ $('Slack Trigger').item.json.channel }}"
                },
                "text": "={{ $json.output }}",
                "otherOptions": {
                    "includeLinkToWorkflow": false,
                    "sendAsUser": "Jacob",
                    "threadTs": "={{ $('Slack Trigger').item.json.ts }}"
                }
            },
            "id": "92db15e1-3228-476f-a3da-1736e8f34d53",
            "name": "Send Final Answer",
            "type": "n8n-nodes-base.slack",
            "position": [
                1940,
                80
            ],
            "typeVersion": 2.3,
            "credentials": {
                "slackApi": {
                    "id": "",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "content": "0️⃣ Slack Trigger",
                "height": 560,
                "color": 5
            },
            "id": "7070bd4b-bc9e-426b-a6d9-074d386d86dd",
            "name": "Sticky Note2",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                784,
                0
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "1️⃣ AI Classifier\n\ngpt-4o-mini decides:\n• greeting → casual reply\n• question → RAG search\n\nNo regex — AI understands intent.",
                "height": 560,
                "width": 260,
                "color": 6
            },
            "id": "sw1cky01-0000-0000-0000-000000000010",
            "name": "Sticky Note5",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1040,
                0
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "2️⃣ Switch on AI label\n\nChecks $json.message.content:\n\"greeting\" → friendly path\nAnything else → RAG path",
                "height": 560,
                "width": 220,
                "color": 7
            },
            "id": "sw1tch-note-0000-000000000020",
            "name": "Sticky Note7",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1260,
                0
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "3️⃣ Question Path\n\nSends ack first, then\nGPT Agent + Google Docs RAG.",
                "height": 240,
                "width": 620,
                "color": 4
            },
            "id": "387b6478-c255-42ba-b456-8b90d889e261",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1480,
                0
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "3a️⃣ Greeting Path\n\nOpenAI responds naturally.\nNo docs lookup.",
                "height": 200,
                "width": 340,
                "color": 3
            },
            "id": "gr33ty01-0000-0000-0000-000000000011",
            "name": "Sticky Note6",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1480,
                380
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "4️⃣ Final Answer",
                "height": 240,
                "width": 240,
                "color": 3
            },
            "id": "24714547-eecf-4b11-a58f-c394dc7bc9e4",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1900,
                0
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "🛠 Slack RAG Agent v3 — AI Router + Thinking Ack\n\nFlow:\n  0 Slack Trigger → fires on message/mention\n  1 AI Classifier → gpt-4o-mini labels the intent\n     • 'greeting' → warm OpenAI reply (no docs)\n     • 'question' → \"please wait\" + RAG agent\n  2 Switch → routes on classifier output\n  3a OpenAI Greeting → natural reply\n  3b GPT Agent → Google Docs RAG lookup\n  4 Send reply → threaded under original message\n\nWhy AI over regex:\n  Handles any phrasing, language, typos.\n  'hi how is today', 'hey what's up',\n  'thanks!', 'good morning team' all\n  correctly classified as greeting.\n\nSetup:\n  - Replace User_ID in Slack Trigger filter\n  - Re-link credentials: Slack, OpenAI, Google Docs\n  - threadTs threads replies under original message",
                "height": 1008,
                "width": 752,
                "color": 2
            },
            "id": "c11871c8-557c-42f6-ab82-f287b1178798",
            "name": "Sticky Note3",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                0,
                0
            ],
            "typeVersion": 1
        }
    ],
    "pinData": {},
    "connections": {
        "Slack Trigger": {
            "main": [
                [
                    {
                        "node": "AI Classifier",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Classifier": {
            "main": [
                [
                    {
                        "node": "Greeting or Question?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Greeting or Question?": {
            "main": [
                [
                    {
                        "node": "OpenAI Greeting",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Thinking Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Greeting": {
            "main": [
                [
                    {
                        "node": "Send Greeting Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Thinking Message": {
            "main": [
                [
                    {
                        "node": "GPT 5 Slack Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GPT 5 Slack Agent": {
            "main": [
                [
                    {
                        "node": "Send Final Answer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "GPT 5 Slack Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "GPT 5 Slack Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Get a document in Google Docs": {
            "ai_tool": [
                [
                    {
                        "node": "GPT 5 Slack Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate"
    },
    "versionId": "e9a2b1c3-d4f5-6789-0abc-def123456789",
    "meta": {
        "instanceId": "",
        "templateCredsSetupCompleted": true
    },
    "nodeGroups": [],
    "id": "",
    "tags": []
}