n8n_template/Telegram_AI_bot_v2.json
{
  "id": "",
  "name": "Telegram AI-bot v2",
  "nodes": [
    {
      "parameters": {
        "updates": ["*"],
        "additionalFields": {}
      },
      "id": "ea71a467-a646-4aca-b72e-cef1249c74e2",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [32, 352],
      "webhookId": "",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message.text",
              "value": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "730a51ac-223e-4956-be7f-166eadb6ed81",
      "name": "PreProcessing",
      "type": "n8n-nodes-base.set",
      "position": [208, 352],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "model_temperature",
              "value": 0.8
            },
            {
              "name": "token_length",
              "value": 500
            }
          ],
          "string": [
            {
              "name": "system_command",
              "value": "=You are a friendly chatbot. User name is {{ $json?.message?.from?.first_name }}. User system language is {{ $json?.message?.from?.language_code }}. First, detect user text language. Next, provide your reply in the same language. Include several suitable emojis in your answer."
            },
            {
              "name": "bot_typing",
              "value": "={{ $json?.message?.text.startsWith('/image') ? \"upload_photo\" : \"typing\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2aa961b8-f0af-4d5c-a6af-1be56ea4b2e6",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [384, 352],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.from.id }}",
        "action": "={{ $json.bot_typing }}"
      },
      "id": "30321276-ebe1-41ac-b420-9dab8daa405b",
      "name": "Send Typing action",
      "type": "n8n-nodes-base.telegram",
      "position": [592, 480],
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "7d7ff2e8-b0ca-4638-a056-f7b4e2e6273d",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [800, 368],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message?.text }}",
        "rules": {
          "rules": [
            {
              "operation": "notStartsWith",
              "value2": "/"
            },
            {
              "operation": "startsWith",
              "value2": "/start",
              "output": 1
            },
            {
              "operation": "startsWith",
              "value2": "/image ",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "1cbe43d4-ea8b-4178-bc10-4bfad7abe143",
      "name": "CheckCommand",
      "type": "n8n-nodes-base.switch",
      "position": [992, 368],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "088cffee-5720-488b-a4ec-cfdccbf77e75",
      "name": "Chat_mode",
      "type": "n8n-nodes-base.openAi",
      "position": [1344, -160],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "=This is the first message from a user. Please welcome a new user in `{{ $json.message.from.language_code }}` language"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "41248697-6474-4a8f-a8b8-038c96465948",
      "name": "Greeting",
      "type": "n8n-nodes-base.openAi",
      "position": [1344, 80],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "20c2e7fa-5d65-441b-8d1d-a8d46c624964",
      "name": "Text reply",
      "type": "n8n-nodes-base.telegram",
      "position": [1712, -48],
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=🎨 生成圖片中，請稍等約 10~20 秒...\n\nGenerating image, please wait...",
        "additionalFields": {}
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Send wait message",
      "type": "n8n-nodes-base.telegram",
      "position": [1200, 368],
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "=gpt-image-1-mini",
          "mode": "id"
        },
        "prompt": "={{ $('Settings').first().json.message.text.split(' ').slice(1).join(' ') }}",
        "options": {},
        "images": {
          "values": [{}]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [1440, 368],
      "id": "1e827a27-7e19-4740-9d73-44b060ffa1e5",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {}
      },
      "id": "125e27d2-b03b-4f02-9dd1-8fc81ecf0b6b",
      "name": "Send image",
      "type": "n8n-nodes-base.telegram",
      "position": [1712, 368],
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Sorry, {{ $json.message.from.first_name }}! This command is not supported yet. Please type some text to a chat bot or try this command:\n/image \\[your prompt]\n\nEnter the command, then space and provide your request. Example:\n\n`/image a picture or a cute little kitten with big eyes. Miyazaki studio ghibli style`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "e91d616b-1d5e-40e8-8468-2d0b2dda4cf7",
      "name": "Send error message",
      "type": "n8n-nodes-base.telegram",
      "position": [1712, 672],
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "content": "## Chatbot mode by default\n### (when no command is provided)",
        "height": 233,
        "width": 330
      },
      "id": "2d2fe268-1e3e-483b-847c-4412e586c1ca",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [1248, -240],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Welcome message\n### /start",
        "height": 220,
        "width": 330
      },
      "id": "09a9c0b4-ac6e-46eb-b2e0-ef2b55e94ada",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [1248, 32],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create an image\n### /image + request\n1. Send wait message\n2. Generate image (binary)\n3. Send image via binary data",
        "height": 260,
        "width": 580
      },
      "id": "656bab5e-b7f7-47a1-8e75-4a17d2070290",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [1140, 288],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Error fallback for unsupported commands",
        "height": 231,
        "width": 316
      },
      "id": "074e907f-634b-4242-b669-33fa064f8472",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [1600, 592],
      "typeVersion": 1
    },
    {
      "parameters": {
        "color": 5,
        "width": 740,
        "height": 520,
        "content": "## 📌 Original Template\n\nThis is a customized v2 based on:\n\n**Telegram AI chatbot** — https://n8n.io/workflows/1934-telegram-ai-chatbot/\n\nIt matches exactly:\n- Telegram trigger + typing simulation\n- OpenAI for chat responses (default mode)\n- /image command → OpenAI image generation → send photo\n- /start welcome message\n- Error fallback for unsupported commands\n\n**Local file upgrades:**\n- Uses gpt-image-1-mini (newer model)\n- Adds a Chinese wait message\n- Uses the binary upload path for Telegram photos"
      },
      "id": "source-sticky-1934",
      "name": "Source Template",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-780, 96],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "PreProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreProcessing": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Send Typing action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Typing action": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CheckCommand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckCommand": {
      "main": [
        [
          {
            "node": "Chat_mode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send wait message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat_mode": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send wait message": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Send image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all"
  },
  "versionId": "v2-fixed-binary-image",
  "meta": {
    "instanceId": "",
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "tags": [
    {
      "id": "15",
      "name": "tutorial",
      "createdAt": "2022-10-04T20:07:25.607Z",
      "updatedAt": "2022-10-04T20:07:25.607Z"
    }
  ]
}
