n8n_template/Telegram_practice/01_expense_tracker_telegram_sheets.json
{
  "id": "200",
  "name": "01 - Expense Tracker: Telegram to Google Sheets with GPT-4.1 Mini",
  "nodes": [
    {
      "id": "walkthrough-6970",
      "name": "WALKTHROUGH SETUP GUIDE",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-1060, -500],
      "parameters": {
        "width": 1040,
        "height": 1900,
        "color": 7,
        "content": "# WALKTHROUGH SETUP GUIDE\n## Template 01: Expense Tracker via Telegram + GPT-4.1 Mini\n\n---\n\n### What This Workflow Does\nUser types an expense in Telegram (e.g. \"Coffee 80 TWD at 7-Eleven\") → GPT-4.1 Mini parses it into structured data (date, amount, currency, category) → Row auto-saved to Google Sheets.\n\n**APIs Needed:** OpenAI (you have this) + Telegram Bot (free) + Google Sheets (free Google account)\n\n---\n\n### Prerequisites Checklist\n- [ ] OpenAI API Key (platform.openai.com)\n- [ ] Telegram account\n- [ ] Google account\n- [ ] n8n instance (cloud or self-hosted)\n\n---\n\n### Step 1: Create Telegram Bot (2 min)\n1. Open Telegram, search **@BotFather**\n2. Send `/newbot`\n3. Enter a display name (e.g. \"Expense Buddy\")\n4. Enter a username ending in `bot` (e.g. `expense_buddy_bot`)\n5. BotFather sends you a **Bot Token** — copy it!\n\n---\n\n### Step 2: Create Google Sheet (3 min)\n1. Go to sheets.google.com → Create new spreadsheet\n2. Name the sheet \"Expense Tracking\"\n3. Add these EXACT headers in Row 1:\n   - A1: `Date`\n   - B1: `Amount`\n   - C1: `Currency`\n   - D1: `Category`\n   - E1: `Description`\n   - F1: `Source`\n   - G1: `File ID`\n4. Copy the Sheet ID from the URL\n   (the long string between `/d/` and `/edit`)\n\n---\n\n### Step 3: Configure Telegram Credentials (2 min)\n1. In n8n, click the **Telegram Trigger** node\n2. Under Credentials → click **Create New** → select Telegram API\n3. Paste your Bot Token → click Save\n4. Repeat for all **Telegram** send nodes (select the same credential)\n\n---\n\n### Step 4: Configure OpenAI Credentials (1 min)\n1. Click the **OpenAI Chat Model** node\n2. Under Credentials → **Create New** → OpenAI API\n3. Paste your OpenAI API Key → Save\n\n---\n\n### Step 5: Configure Google Sheets (5 min)\n1. Click the **Log expense record to google sheet** node\n2. Under Credentials → **Create New** → Google Sheets OAuth2 API\n3. Sign in with Google → Authorize n8n access\n4. In **Document ID**: click the list icon → select your sheet\n5. In **Sheet Name**: select Sheet1\n\n---\n\n### Step 6: Activate and Test\n1. Click the **Activate** toggle (top-right)\n2. Open Telegram, find your bot → Start chatting\n3. Send: `Coffee 80 TWD at 7-Eleven`\n4. Bot replies with a fun confirmation message\n5. Open Google Sheet — a new row should appear!\n\n---\n\n### Test Messages to Try\n- `Lunch 250 TWD at the office cafeteria`\n- `MRT ticket 30 TWD`\n- `Netflix subscription 390 TWD`\n- `Hello` (invalid → bot will ask you to send an expense)\n\n---\n\n### Troubleshooting\n- **Bot not responding?** → Check Token is correct in Telegram Trigger node\n- **Sheet not updating?** → Re-authorize Google Sheets credentials\n- **GPT parsing fails?** → Message must include an amount number\n\n---\n\n### Key Learning Concepts\n- **Telegram Trigger** — receive user messages via bot\n- **IF Node** — route by message type (text vs file)\n- **AI Agent + Structured Output Parser** — LLM returning strict JSON schema\n- **Conditional routing** — valid expense vs invalid message\n- **Google Sheets Append** — auto-save structured data to spreadsheet\n- **Natural Language → Structured Data** — the core AI automation pattern"
      },
      "typeVersion": 1
    },
    {
      "id": "528b33c9-b3d7-4fc2-ad0c-8112b09377b2",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [864, 2512],
      "webhookId": "4fa0d5df-5d63-4197-a5ba-add4fb4205ba",
      "parameters": {
        "updates": ["message"],
        "additionalFields": {"download": true}
      },
      "credentials": {
        "telegramApi": {"id": "", "name": ""}
      },
      "typeVersion": 1.2
    },
    {
      "id": "73e405fd-1906-4970-9bfd-034663753371",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [1376, 2436],
      "parameters": {
        "model": {"__rl": true, "mode": "list", "value": "gpt-4.1-mini", "cachedResultName": "gpt-4.1-mini"},
        "options": {}
      },
      "credentials": {
        "openAiApi": {"id": "", "name": ""}
      },
      "typeVersion": 1.2
    },
    {
      "id": "0923ce77-3410-4f8d-b8ca-19f1912bdb43",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [1504, 2436],
      "parameters": {
        "jsonSchemaExample": "{\n  \"relevant\": true,\n  \"expense_record\": {\n    \"date\": \"2025-08-04\",\n    \"amount\": 120000,\n    \"currency\": \"TWD\",\n    \"category\": \"Food\",\n    \"description\": \"Lunch at the office cafeteria\"\n  },\n  \"message\": \"\"\n}"
      },
      "typeVersion": 1.3
    },
    {
      "id": "e61ee81e-b66a-4df9-a2d1-ad6b181fa009",
      "name": "Supported scenario?",
      "type": "n8n-nodes-base.if",
      "position": [1744, 2316],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"},
          "combinator": "and",
          "conditions": [
            {
              "id": "430e6d22-2ff8-42bf-8f0e-940c0378ad30",
              "operator": {"type": "boolean", "operation": "true", "singleValue": true},
              "leftValue": "={{ $json.output.relevant }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "bcf6f9b4-23aa-4ddb-8b80-c7bbf54bf681",
      "name": "Acknowledge the expense",
      "type": "n8n-nodes-base.telegram",
      "position": [1968, 2176],
      "webhookId": "da2178e4-f6e4-4c45-b8de-b810d65f580a",
      "parameters": {
        "text": "={{ $json.output.message }}",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {"id": "", "name": ""}
      },
      "typeVersion": 1.2
    },
    {
      "id": "5a98d5eb-c402-4473-bd1c-5d1c4a9406be",
      "name": "Send un-supported scenario message",
      "type": "n8n-nodes-base.telegram",
      "position": [1968, 2560],
      "webhookId": "4e8e4674-5b05-458b-818a-f46a0254d344",
      "parameters": {
        "text": "={{ $json.output.message }}",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {"id": "", "name": ""}
      },
      "typeVersion": 1.2
    },
    {
      "id": "b0377606-2f20-4329-9a11-7e710eea221e",
      "name": "Transform the output to expense record",
      "type": "n8n-nodes-base.code",
      "position": [1968, 2368],
      "parameters": {
        "jsCode": "const record = $input.first().json.output.expense_record;\n\nreturn {\n  Date: record.date.toString(),\n  Amount: record.amount,\n  Currency: record.currency,\n  Category: record.category,\n  Description: record.description,\n  MessageID: $('Telegram Trigger').first().json.message.message_id,\n  ChatID: $('Telegram Trigger').first().json.message.chat.id\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "f5f1845c-02b3-4f9c-8e8f-5e98dda19dda",
      "name": "Log expense record to google sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [2192, 2368],
      "parameters": {
        "columns": {
          "value": {},
          "schema": [
            {"id": "Date", "type": "string", "display": true, "required": false, "displayName": "Date", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Amount", "type": "string", "display": true, "required": false, "displayName": "Amount", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Currency", "type": "string", "display": true, "required": false, "displayName": "Currency", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Category", "type": "string", "display": true, "required": false, "displayName": "Category", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Description", "type": "string", "display": true, "required": false, "displayName": "Description", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Source", "type": "string", "display": true, "required": false, "displayName": "Source", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "File ID", "type": "string", "display": true, "required": false, "displayName": "File ID", "defaultMatch": false, "canBeUsedToMatch": true}
          ],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {"__rl": true, "mode": "list", "value": "gid=0", "cachedResultName": "Sheet1"},
        "documentId": {"__rl": true, "mode": "list", "value": "", "cachedResultName": "Expense Tracking"}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": ""}
      },
      "typeVersion": 4.6
    },
    {
      "id": "2fb66558-eae4-4a25-ad99-86c7e02e3a77",
      "name": "Budget Buddy Telegram Agent Text",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1344, 2212],
      "parameters": {
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are Budget Buddy, a helpful and funny personal finance assistant that helps users track their spending via Telegram chat.\nThe input you receive is a plain text message sent by the user in chat. It may describe a recent expense such as a purchase, bill payment, or money transfer. Your job is to analyze this message and determine whether it contains a valid personal expense.\nIf the content clearly describes a financial transaction (such as a purchase, payment, or transfer), extract the structured details:\n- date: The date of the transaction (use today's date if not mentioned)\n- amount: The total amount paid\n- currency: The currency used (default to \"TWD\" unless another is clearly shown)\n- category: Choose the most appropriate category\n- description: A short summary of what the expense was for\nOnly return an expense if key information like amount and description is present. Do not assume details that are not clearly found in the input.\nYou must always respond with a single valid JSON object in the following format:\n- \"relevant\": true if the user chat contains a valid expense, false otherwise\n- \"expense_record\": An object with the extracted expense details (only include if relevant is true, otherwise leave empty for all fields)\n- \"message\": A friendly, human-like response that confirms the tracked expense (if relevant), or a polite fallback message if not\n\nYour tone should be casual, friendly, and supportive. If the content is not clearly an expense, respond with a polite message that you only support expense tracking.\n\nWhen classifying the expense, choose one appropriate category from the list below:\nFood, Transportation, Utilities, Shopping, Entertainment, Health, Education, Housing, Travel, Groceries, Subscriptions, Gifts, Insurance, Investment, Phone & Internet, Bank Fees, Charity, Childcare, Pets, Other\n\nIf no category fits, use \"Other\".\n\nOnly return the final JSON object. Do not include explanations or extra text."
        },
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 2.1
    },
    {
      "id": "ea33d919-65ea-4337-b386-a37a0999d006",
      "name": "Is text message?",
      "type": "n8n-nodes-base.if",
      "position": [1120, 2516],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"},
          "combinator": "and",
          "conditions": [
            {
              "id": "069b1c3b-d683-46f2-b7d6-9dbcdde41445",
              "operator": {"type": "string", "operation": "contains"},
              "leftValue": "={{ $json.message.toJsonString() }}",
              "rightValue": "text"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "8227ca3e-9e42-4be6-942e-7febe923d4d8",
      "name": "Un-supported message type",
      "type": "n8n-nodes-base.telegram",
      "position": [1432, 2612],
      "webhookId": "4e8e4674-5b05-458b-818a-f46a0254d344",
      "parameters": {
        "text": "=Sorry, I can't read files or images right now. Just send me a message describing what you spent, and I'll help you track it!",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {"id": "", "name": ""}
      },
      "typeVersion": 1.2
    },
    {
      "id": "5cd98929-68d9-42fe-bf55-354efebe8dbc",
      "name": "Note: Step 1 - Telegram Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "position": [512, 2512],
      "parameters": {
        "width": 304,
        "height": 128,
        "content": "### 1. Telegram Trigger\nListens for incoming messages from the user via the connected Telegram bot. This is the ENTRY POINT of the workflow.\n\n**Configure:** Add your Bot Token credential here."
      },
      "typeVersion": 1
    },
    {
      "id": "5cd98929-68d9-42fe-bf55-354efebe8dbe",
      "name": "Note: Step 2 - Message Type Check",
      "type": "n8n-nodes-base.stickyNote",
      "position": [976, 2336],
      "parameters": {
        "width": 272,
        "height": 144,
        "content": "### 2. Is Text Message?\nChecks whether the incoming Telegram message is text.\n\n- YES → send to AI agent\n- NO → send unsupported type message back"
      },
      "typeVersion": 1
    },
    {
      "id": "93216e1c-1d56-4b52-b81f-0cc10186549c",
      "name": "Note: Step 3 - AI Agent",
      "type": "n8n-nodes-base.stickyNote",
      "position": [1216, 2064],
      "parameters": {
        "width": 512,
        "height": 112,
        "content": "### 3. Budget Buddy AI Agent (GPT-4.1 Mini)\nSends the user's text to GPT-4.1 Mini with a system prompt. The model returns JSON with `relevant`, `expense_record`, and `message`.\n\n**Configure:** Add OpenAI API key to the OpenAI Chat Model node below."
      },
      "typeVersion": 1
    },
    {
      "id": "81c17aea-3f22-4c29-b220-17bc14f6512e",
      "name": "Note: Step 4a - Acknowledge",
      "type": "n8n-nodes-base.stickyNote",
      "position": [1968, 2048],
      "parameters": {
        "width": 640,
        "height": 96,
        "content": "### 4a. Acknowledge the Expense\nSends a friendly confirmation back to Telegram using the `message` field from the LLM response.\n\n**Configure:** Use the same Telegram credential as the Trigger."
      },
      "typeVersion": 1
    },
    {
      "id": "147c9089-8fed-44a7-86a5-350d9a5e56f5",
      "name": "Note: Step 4b - Transform and Log",
      "type": "n8n-nodes-base.stickyNote",
      "position": [2144, 2240],
      "parameters": {
        "width": 512,
        "height": 96,
        "content": "### 4b. Transform and Log to Google Sheets\n- Code node extracts fields from AI output\n- Google Sheets appends a new row\n\n**Configure:** Connect your Google Sheets credential and select your spreadsheet."
      },
      "typeVersion": 1
    },
    {
      "id": "f453b718-dc12-41e5-8d6c-90323d546744",
      "name": "Note: Step 5 - Unsupported",
      "type": "n8n-nodes-base.stickyNote",
      "position": [2208, 2576],
      "parameters": {
        "width": 512,
        "height": 96,
        "content": "### 5. Unsupported Scenario\nIf the AI decides the message is NOT a valid expense (relevant = false), this node sends a friendly fallback message to the user."
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Is text message?": {
      "main": [
        [{"node": "Budget Buddy Telegram Agent Text", "type": "main", "index": 0}],
        [{"node": "Un-supported message type", "type": "main", "index": 0}]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [{"node": "Is text message?", "type": "main", "index": 0}]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [{"node": "Budget Buddy Telegram Agent Text", "type": "ai_languageModel", "index": 0}]
      ]
    },
    "Supported scenario?": {
      "main": [
        [
          {"node": "Acknowledge the expense", "type": "main", "index": 0},
          {"node": "Transform the output to expense record", "type": "main", "index": 0}
        ],
        [{"node": "Send un-supported scenario message", "type": "main", "index": 0}]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [{"node": "Budget Buddy Telegram Agent Text", "type": "ai_outputParser", "index": 0}]
      ]
    },
    "Budget Buddy Telegram Agent Text": {
      "main": [
        [{"node": "Supported scenario?", "type": "main", "index": 0}]
      ]
    },
    "Transform the output to expense record": {
      "main": [
        [{"node": "Log expense record to google sheet", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {"templateId": "6970"},
  "tags": []
}
